@font-face {
	font-family: 'rubik'; 
	src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'sans'; 
	src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}


/*HEADER*/

header {
	width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navmain{
	background-color: #ff9900;
	width: 95%;
	height: 50px;
	border-radius: 7px;
	text-align: center;
	color: white;
	height: auto;
	padding: 20px;
	font-family: 'rubik';
	font-size: 20px;
	margin: 20px;
	margin-left: auto;
    margin-right: auto;
}
.navbar{
	max-width: 90%;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.nav{
	display: flex;
	justify-content: center;
}
.nav a{
	text-decoration: none;
	margin: 30px;
	color: rgb(10, 10, 10);
	font-family: 'rubik';
	font-size: 17px;
}
.nav a:hover{
    color: #ff9900;
}
.nav button{
	width: 120px;
	height: 55px;
	margin: 10px;
	border-style: none;
	border-radius: 7px;
	background-color: #ff9900;
	color: white;
	font-family: 'rubik';
	font-size: 17px;
	cursor: pointer;
}
.nav button:hover{
	background-color: #ff7300; /* Цвет фона */
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7300;
}
.nav button:active{
	letter-spacing: normal;
	transition: 0.1s;
	transform: translateY(2px);
	box-shadow: none;
}
#nav2{
	display: none;
}
@media(max-width:500px){

	header{
		max-width: 100%;
		margin: auto;
		justify-content: center;
	}
	.navmain{
		background-color: #ff9900;
		max-width: 90%;
		height: 41px;
		font-size: 5x;
		margin: auto;
		border-radius: 10px;
		width: 95%;
	}
	.navbar{
		width: 90%;
		margin: auto;
	}
	#nav2{
		display: none;
	}
	.nav a{
		text-decoration: none;
		margin: 30px;
		color: rgb(10, 10, 10);
		font-family: 'rubik';
		font-size: 13px;
	}
}

/*SECTION1*/

.sec1{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.sec1 p{
    height: 144px;
    width: 748px;
}
.sec1 #p1{
    font-size: 50px;
    font-family: 'rubik';
    font-weight: 600;
}
.sec1 #p2{
    font-size: 20px;
    font-family: 'rubik';
}

@media(max-width:500px){
    .sec1{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
    }
    .sec1 #p1{
        font-size: 15px;
        font-family: 'rubik';
        font-weight: 500;
        text-align: justify;
        margin-right: 10px;
        width: 30%;
    }
    .sec1 #p2{
        font-size: 10px;
        font-family: 'rubik';
        text-align: justify;
        margin-left: 10px;
        width: 65%;
    }
}

/*SECTION2*/

.sec2{
    max-width: 90%;
    margin: auto;
}
.cards{
    background-color: #FFF4E5;
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
    padding: 25px;
    border-radius: 10px;
}
.cards:hover{
    background-color: #ffedd4;
    letter-spacing: normal;
	transition: 0.1s;
	transform: translateY(10px);
	box-shadow: 0px 20px 0px 0px rgba(216, 68, 0, 0.267);
}
.texts{
    max-width: 100%;
}
.texts #p1{
    font-family: 'rubik';
    font-size: 20px;
    font-weight: 600;
}
.texts #p2{
    font-family: 'rubik';
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#p2 button{
    width: 160px;
    height: 63px;
    border-style: none;
    border-radius: 10px;
    font-family: 'rubik';
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
#p2 button:hover{
    background-color: rgb(230, 230, 230);
}
#p2 button:active{
    letter-spacing: normal;
	transition: 0.1s;
	transform: translateY(2px);
	box-shadow: none;
}
.imgs{
    display: flex;
    justify-content: space-between;
}
.examples{
    display: flex;
    justify-content: space-between;
   
}
.ex{
    background-color: white;
    width: 199px;
    border-radius: 10px;
   
}
.cards #p3{
    font-family: 'rubik';
    font-size: 20px;
    font-weight: 600;
}
.ex{
    padding: 20px;
}
.ex #p1{
    font-family: 'rubik';
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
}
.ex #p2{
    font-family: 'rubik';
    font-size: 20px;
    
    margin: 0; 
    padding: 0;
}

@media(max-width:500px){
    .sec2{
        max-width: 90%;
        margin: auto;
    }
    .cards{
        background-color: #FFF4E5;
        width: 80%;
        margin: auto;
        margin-bottom: 100px;
        padding: 25px;
        border-radius: 10px;
    }
    .texts{
        width: 95%;
        margin: auto;
    }
    .texts #p1{
        font-family: 'rubik';
        font-size: 15px;
        font-weight: 600;
        text-align: justify;
    }
    .texts #p2{
        font-family: 'rubik';
        font-size: 15px;
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: justify;
    }
    #p2 button{
        width: 119px;
        height: 39px;
        border-style: none;
        border-radius: 10px;
        font-family: 'rubik';
        font-size: 13px;
        font-weight: 500;
        background-color: white;
        cursor: pointer;
        margin-right: auto;
        margin-top: 10px;
    }
    .imgs{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: auto;
    }
    .imgs img{
        width: 30%;
        height: auto;
    }
    .examples{
        flex-direction:column;
    }
    .ex{
        background-color: white;
        width: 75%;
        height: 55px;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
    }
    .ex #p1{
        font-family: 'rubik';
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        
    }
    .ex #p2{
        font-family: 'rubik';
        font-size: 15px;
        margin: 0; 
        padding: 0;
    }
}

/*FOOTER*/

.footer{
	background-color: #FFF4E5;
	width: 100%;
	height: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.footcontent{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.footcolumn{
	margin-top: 50px;
	margin-bottom: 50px;
}
.footicon{
	margin: 70px;
}
.footh{
	font-family: 'rubik';
	font-size: 20px;
	font-weight: 500;
	margin: 20px;
}
.footp{
	font-family: 'rubik';
	font-size: 20px;
	margin: 20px;
}
.footp a{
	text-decoration: none;
	color: black;
}
.footp a:hover{
	color: #ff9900;
}
.footp img{
	margin-right: 20px;
}

@media (max-width:500px){
	footer{
		width: 100%;
	}
	.footer{
		width: 100%;
	}
	.footcontent{
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	.footp img{
		width: 20px;
		height: 20px;
	}
	.footicon{
		display: none;
	}
	.footh{
		font-family: 'rubik';
		font-size: 10px;
		font-weight: 500;
		margin: 10px;
	}
	.footp{
		font-family: 'rubik';
		font-size: 10px;
		margin: 10px;
		align-items: center;
	}
}
