@font-face {
	font-family: 'rubik'; 
	src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'sans'; 
	src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
.app{
    max-width: 100%;
    display: flex;
    height: 800px;
    background-color: #fff7ec;
}
.menu{
    width: 20%;
    background-color: #ff9900;
    border-top-right-radius: 50px;
}
.menucontent{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 100px;
}
.menucontent .p{
    font-family: 'rubik';
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
}
.content{
    width: 80%;
    background-color: #fff7ec;
    height: 100%;
}

.button {
    font-size: 20px;
    font-family: 'rubik';
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    padding-left: 13px;
}
.button:hover,
.button:focus-visible {
    background-color: #f5cac3;
}
.menu1 {
    margin-block-start: 0.5lh;
    width: 70%;
    margin-left: auto;
  
    overflow: hidden;
    line-height: 0;
    color: transparent;
    transition: line-height 0.5s, color 0.5s;
}
.menu-item {
    overflow: hidden;
    margin-left: auto;
    width: 100%;
    text-align: right;
}
.menu-link {
    font-family: 'rubik';
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
    
}
.menu-link:hover,
.menu-link:focus-visible {
    background-color: #f5cac3;
}
.button.active ~ .menu1 {
    line-height: 1.2;
    color: currentColor;
}





.button1 {
    font-size: 20px;
    font-family: 'rubik';
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    padding-left: 13px;
}
.button1:hover,
.button1:focus-visible {
    background-color: #f5cac3;
}
.menu11 {
    margin-block-start: 0.5lh;
    width: 70%;
    margin-left: auto;
  
    overflow: hidden;
    line-height: 0;
    color: transparent;
    transition: line-height 0.5s, color 0.5s;
}
.menu-item1 {
    overflow: hidden;
    margin-left: auto;
    width: 100%;
    text-align: right;
}
.menu-link1 {
    font-family: 'rubik';
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
    
}
.menu-link1:hover,
.menu-link1:focus-visible {
    background-color: #f5cac3;
}
.button1.active1 ~ .menu11 {
    line-height: 1.2;
    color: currentColor;
}

.btnfin {
    font-size: 20px;
    font-family: 'rubik';
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    padding-left: 13px;
}
.btnfin:hover,
.btnfin:focus-visible {
    background-color: #f5cac3;
}

.text{
    width: 80%;
    height: 70%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
    display: none;
}
.text .h2{
    font-family: 'rubik';
    font-size: 30px;
    font-weight: 500;
    background-color: #ff9900;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
.text .p{
    font-family: 'rubik';
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}
.textcontent{
    display: flex;
    justify-content: space-between;
    height: 800px;
}
.img{
    width: 50%;
    height: 485px;
    background-image: url(../img/Illustration26.png);
    background-image: no-re;
    background-size: 100%;
    border-bottom-left-radius: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.reshenie{
    width: 45%;
    height: 800px;
}
.reshenie p{
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 50px;
}
.reshenie input{
    border-radius: 10px;
    border-style: none;
    background-color: #fff7ec;
    margin-left: 20px;
    height: 40px;
}
.reshenie input:hover{
    border-style: none;
    background-color: #ffefda;
}
.reshenie input:active{
    border-color: #ff9900;
}
#rezultat{
    display: none;
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 20px;
}
.reshenie button{
    border-radius: 10px;
    padding: 10px;
    background-color: #ff9900;
    border-style: none;
    font-family: 'rubik';
    font-size: 20px;
    color: white;
    margin: auto;
    cursor: pointer;
}
.reshenie button:hover{
    background-color: #ff7300;
}
.ex2reshenie{
    margin-left: 50px;
    margin-right: 50px;
}
.ex2reshenie input{
    border-radius: 10px;
    border-style: none;
    background-color: #fff7ec;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
}
.ex2reshenie p{
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 50px;
}
.ex2reshenie input:hover{
    border-style: none;
    background-color: #ffefda;
}
.ex2reshenie input:active{
    border-color: #ff9900;
}
.ex2reshenie button{
    border-radius: 10px;
    padding: 10px;
    background-color: #ff9900;
    border-style: none;
    font-family: 'rubik';
    font-size: 20px;
    color: white;
    margin: auto;
    cursor: pointer;
}
.ex2reshenie button:hover{
    background-color: #ff7300;
}
#ex2rezultat{
    display: none;
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 20px;
}
#ex3rezultat{
    display: none;
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 20px;
}
#ex4rezultat{
    display: none;
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 20px;
}
#ex5rezultat{
    display: none;
    font-family: 'rubik';
    font-size: 20px;
    margin-top: 20px;
}
.reshenie select{
    border-radius: 10px;
    border-style: none;
    background-color: #fff7ec;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 200px;
    text-align: center;
    font-family: 'rubik';
    font-size: 20px;
    font-weight: 300;
}
#ex2p2{
    color: white;
}
@media(max-width:500px){
    .app{
        max-width: 100%;
        flex-direction:column;
        background-color: white;
    }
    .menu{
        width: 100%;
        background-color: #ff9900;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .menucontent{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .menucontent .p{
        font-family: 'rubik';
        font-size: 30px;
        color: white;
        font-weight: 600;
        margin: auto;
        text-align: center;
    }
    .button {
        font-size: 20px;
        font-family: 'rubik';
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        padding-left: 13px;
        margin-top: 10px;
    }
    .button1 {
        font-size: 20px;
        font-family: 'rubik';
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        padding-left: 13px;
    }
    .btnfin{
        margin-bottom: 10px;
    }
    .button:hover,
    .button:focus-visible {
        background-color: #f5cac3;
    }
    .menu1 {
        margin-block-start: 0.5lh;
        width: 70%;
        margin-left: auto;
      
        overflow: hidden;
        line-height: 0;
        color: transparent;
        transition: line-height 0.5s, color 0.5s;
    }
    .menu-item {
        overflow: hidden;
        margin-left: auto;
        width: 100%;
        text-align: right;
    }
    .menu-link {
        font-family: 'rubik';
        text-decoration: none;
        color: white;
        display: block;
        text-align: right;
        
    }
    .menu-link:hover,
    .menu-link:focus-visible {
        background-color: #f5cac3;
    }
    .button.active ~ .menu1 {
        line-height: 1.2;
        color: currentColor;
    }
    .content{
        width: 100%;
        height: auto;
        background-color: white;
    }
    .text{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        background-color:#fff7ec;
        height: auto;
        display: none;
        padding-bottom: 15px;
    }
    .text .h2{
        font-family: 'rubik';
        font-size: 20px;
        font-weight: 500;
        background-color: #ff9900;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
    }
    .text .p{
        font-family: 'rubik';
        font-size: 15px;
        margin: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }
    #textcontentex1{
        flex-direction:column;
    }
    .img{
        margin: auto;
        margin-top: 20px;
        width: 90%;
        height: 40%;
        background-image: url(../img/Illustration26.png);
        background-image: no-re;
        background-size: 83%;
        border-radius: 10px;
    }
    .reshenie{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .reshenie p{
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 50px;
        width: 100%;
        margin-left: 25px;
    }
    .reshenie input{
        
        border-radius: 10px;
        border-style: none;
        background-color: white;
        margin-left: 20px;
        height: 40px;
    }
    .reshenie input:hover{
        border-style: none;
        background-color: #ffefda;
    }
    .reshenie input:active{
        border-color: #ff9900;
    }
    #rezultat{
        display: none;
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 20px;
        width: 350px;
        margin-left: 10px;
    }
    .reshenie button{
        border-radius: 10px;
        padding: 10px;
        background-color: #ff9900;
        border-style: none;
        font-family: 'rubik';
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
        margin-left: 25px;
        cursor: pointer;
        align-items: center;
    }
    .reshenie button:hover{
        background-color: #ff7300;
    }
    .ex2reshenie{
        width: 45%;
        height: 45%;
        margin: 0;
        margin: 20px;
    }
    #textcontentex2{
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    .ex2reshenie input{
        border-radius: 10px;
        border-style: none;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        height: 40px;
        width: 40px;
    }
    .ex2reshenie p{
        font-family: 'rubik';
        font-size: 15px;
        margin-top: 20px;
    }
    .ex2reshenie input:hover{
        border-style: none;
        background-color: #ffefda;
    }
    .ex2reshenie input:active{
        border-color: #ff9900;
    }
    .ex2reshenie button{
        border-radius: 10px;
        padding: 10px;
        background-color: #ff9900;
        border-style: none;
        font-family: 'rubik';
        font-size: 20px;
        color: white;
        margin: auto;
        cursor: pointer;
    }
    .ex2reshenie button:hover{
        background-color: #ff7300;
    }
    #ex2rezultat{
        display: none;
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 20px;
        width: 350px;
        margin-left: 10px;
    }
    #ex3rezultat{
        display: none;
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
        width: 350px;
    }
    #ex4rezultat{
        display: none;
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
        width: 350px;
    }
    #ex5rezultat{
        display: none;
        font-family: 'rubik';
        font-size: 20px;
        margin-top: 20px;
        margin-left: 10px;
        width: 350px;
    }
    .reshenie select{
        border-radius: 10px;
        border-style: none;
        background-color: #fff7ec;
        margin-left: 20px;
        margin-right: 20px;
        height: 40px;
        width: 200px;
        text-align: center;
        font-family: 'rubik';
        font-size: 20px;
        font-weight: 300;
    }
    #ex2p2{
        color: #fff7ec;
    }
    #ex3z1 option{
        background-color: white;
    }
}